<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sample.board.repository.BoardMapper">

    <!-- C -->
    <insert id="insertBoard" parameterType="Board" useGeneratedKeys="true" keyProperty="boardId" keyColumn="board_id">
        INSERT INTO tb_board (
            title, content, create_id, create_date, update_id, update_date, use_yn
        ) VALUES (
            #{title}, #{content}, #{createId}, #{createDate}, #{updateId}, #{updateDate}, #{useYN}
        )
    </insert>

    <!-- R -->
    <select id="findByBoardId" resultType="Board">
        SELECT board_id, title, content, create_id, create_date, update_id, update_date, use_yn
        FROM tb_board
        WHERE board_id = #{boardId} AND use_yn = 'Y'
    </select>

    <sql id="boardSearchConditions">
        <where>
            use_yn = 'Y'
            <if test="title != null and title != ''">
                AND title LIKE CONCAT('%', #{title}, '%')
            </if>
        </where>
    </sql>

    <select id="findBoardList" resultType="com.sample.board.dto.board.BoardListResponseDto">
        SELECT board_id, title, create_id, create_date
        FROM tb_board
        <include refid="boardSearchConditions"/>
        ORDER BY create_date DESC
        <if test="pageInfo != null">
            LIMIT #{pageInfo.size} OFFSET #{pageInfo.offset}
        </if>
    </select>

    <select id="countBoard" resultType="long">
        SELECT COUNT(*)
        FROM tb_board
        <include refid="boardSearchConditions"/>
    </select>

    <!-- U -->
    <update id="updateBoard" parameterType="Board">
        UPDATE tb_board
        SET title = #{title},
            content = #{content},
            update_id = #{updateId},
            update_date = #{updateDate}
        WHERE board_id = #{boardId} AND use_yn = 'Y'
    </update>

</mapper>
